mixin sSetOfServices(data)
	// start sSetOfServices
	+b.SECTION.sSetOfServices.section#sSetOfServices&attributes(attributes)
		.container
			+b.section-title
				h2 #[span Комплекс услуг] под ключ включает в себя:
				
			+ddGroup()
				+ddGroupItem('Программное обеспечение', 'active','Собственное программное обеспечение обеспечивает надежную, быструю и безопасную аккредитацию участников. Возможна интеграция с информационными системами и CRM-платформами.', 'img/svg/sSetOfServices-i-1.svg')
					.row
						.col-lg-6
							h5 Наш программный комплекс внесен в #[span.text-primary реестр российского программного обеспечения] Минцифры и обеспечивает:
							ul
								li Простую настройку и запуск;
								li Высокую скорость работы операторов;
								li Надёжную и безопасную работу всего комплекса; 
								li Быстрый поиск по всем возможным полям с отображением результата по вводу трёх символов;
								li Личный кабинет организатора с подробной статистикой и аналитикой;
								li Интеграцию с различными источниками данных по API;
								li Масштабируемую инфраструктуру, способную работать с десятками и сотнями тысяч участников;
								li Собственные технологические ноу-хау, обеспечивающие высокую эффективность работы даже в экстремально-нагруженных условиях. 
						+e.col.col-lg-6
							+e.img-wrap
								+img("img/screen.png").res-i

				+ddGroupItem('Оборудование ', 'active','Все необходимое оборудование для аккредитации, контроля доступа сбора цифрового следа, включая ноутбуки, принтеры, турникеты, ТСД и сканеры, обеспечивают бесперебойную работу.',  'img/svg/sSetOfServices-i-2.svg')
					+e.row-gal.row.g-4
						- for (var x = 1; x < 5; x++)
							.col-lg-3.col-6
								+e.img-wrap-gal(data-fancybox="modal-gal" data-src=`img/tab-1/tab-1-${x}.jpg`)
									+img(`img/tab-1/tab-1-${x}.jpg`)

				+ddGroupItem('Расходные материалы', 'active','Широкий ассортимент бейджей, лент и браслетов различных форматов и дизайнов', 'img/svg/sSetOfServices-i-3.svg')
					+e.row-gal.row.g-4
						- for (var x = 1; x < 5; x++)
							.col-lg-3.col-6
								+e.img-wrap-gal(data-fancybox="modal-gal" data-src=`img/tab-2/tab-2-${x}.jpg`)
									+img(`img/tab-2/tab-2-${x}.jpg`)

				+ddGroupItem('Персонал', 'active','Надежный и проверенный персонал, эффективно выполнит все поставленные задачи' , 'img/svg/sSetOfServices-i-4.svg')
					+e.row-gal.row.g-4
						- for (var x = 1; x < 6; x++)
							.col-lg-3.col-6
								+e.img-wrap-gal(data-fancybox="modal-gal" data-src=`img/tab-3/tab-3-${x}.jpg`)
									+img(`img/tab-3/tab-3-${x}.jpg`)
 

	// end sSetOfServices